@font-face {
	font-family: 'IBM_VGA_9x16';
	src: url('../fonts/Ac437_IBM_VGA_9x16.ttf');
}

@font-face {
	font-family: 'IBM_BIOS';
	src: url('../fonts/Ac437_IBM_BIOS.ttf');
}

.filesHeader {
	font-family: 'IBM_BIOS';
	font-size: 10px;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 130px;
	margin-left: 30px;
}

