@import "tailwindcss";


@font-face {
	font-family: 'IBM_VGA_9x16';
	src: url('../fonts/Ac437_IBM_VGA_9x16.ttf');
}

@font-face {
	font-family: 'IBM_BIOS';
	src: url('../fonts/Ac437_IBM_BIOS.ttf');
}

.filesHeader {
	font-family: 'IBM_BIOS';
	font-size: 10px;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 170px;
	margin-left: 10px;
}

.fileList {
	max-height: 700px;
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 220px;
	font-size: 24px;
}

.fileItems ul {
	 max-height: 700px;
	 overflow-y: auto;
	font-family: 'IBM_VGA_9x16';
	padding-left: 10px;
	list-style-type: none;
}

.fileItems li {
	margin-bottom: 20px;
	padding: 1px 0;
	border-top: 1px solid green;	
}
