@import tailwindcss;

/* Upload.css */

body {
	background-color: black;
}

@font-face {
	font-family: 'IBM_VGA_9x16';
	src: url('../fonts/Ac437_IBM_VGA_9x16.ttf');
}

@font-face {
	font-family: 'IBM_BIOS';
	src: url('../fonts/Ac437_IBM_BIOS.ttf');
}


.upload {
	display: grid;	
	width: 100%;
	border: 1px solid white;
	position: absolute;
	right: 0;
	top: 0;
	color: white;
}

.myFileUpload {
	display: inline-block;
	position: relative;
	font-family: 'IBM_BIOS';
}

.custom-file-label {
	display: inline-block;
	padding: 10px;
	border: 2px solid #ccc;
	background-color: #f5f5f5;
	color: #333;	
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.custom-file-label {
	color: #000;
	font-size: 10px;
}

.custom-file-label:hover {
	background-color: #990000;
}



.uploadButton {
	font-family: 'IBM_VGA_9x16';
	margin-top: 10px;
	margin-bottom: 5px;
	color: green;
}

.uploadButton button {
	color: green;
}

.logo {
	display: grid;
	justify-items: end;
	position: absolute;
	left: 0;
	top: 0;
	width: 170px;
	height: 170px;
	margin-top: -20px;
	margin-left: -10px;
}

.directorySelection {
	font-family: 'IBM_VGA_9x16';
}

#fileUpload::file-selector-button {
	background-color: green;
	font-family: 'IBM_VGA_9x16';
}

